@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #eeeeee;
}

/*Cabeçalho*/
header#cabecalho{
    width: 100%;
    height: 156px;
    background-color: #000000;
    color: white;
}

figure.caixa-logo{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 8px;
}
figure > img{
    width: 150px;
}
figure > img.letras-lg{
    position: relative;
    top: -30px;
    left: -20px;
    width: 230px;
}

img.icn-barra{
    width: 65px;
    position: absolute;
    top: 38px;
    left: 35px;
}

img.icn-carro{
    width: 65px;
    position: absolute; 
    top: 45px;
    right: 35px;
}

/*Menu de navegação do Site*/
#box-menu{
    width: 570px;
    padding: 10px;
    margin: 0 auto;
}

ul#lista-itens{
    list-style: none;
}

ul#lista-itens > li.area-cont-menu{
    margin-left: 20px;
    opacity: 0;
}

ul#lista-itens > li{
    display: inline-block;
    margin: -3px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 3px;
    background-color: #606060;
}

ul#lista-itens > li > a{
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

/*Campo pesquisa e contato*/
div#box-1{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 15px;
}

.campo-dig > img{
    width: 35px;
    position: relative;
    top: 10px;
    left: -45px;
}

.pesquisa{
    border: none;
    background-color: #aaaaaa;
    padding: 15px;
    width: 350px;
    font-size: 13pt;
}

.pesquisa::placeholder{
    color: #606060;
    font-size: 13pt;
    font-weight: bolder;
}

.contato{
    position: absolute;
    width: 300px;
    right: -55px;
    text-align: center;
}

.contato > h2{
    margin-bottom: 10px;
}
.contato > a{
    text-decoration: none;
    color: white;
    background-color: #606060;
    padding: 5px;
    margin-left: -50px;
    transition: background-color 0.5s, color 0.5s;
}
.contato > img{
    float: left;
    width: 55px;
    position: relative;
    top: -30px;
    left: 40px;
}

.contato > a:hover{
    background-color: #888888;
    color: #000;
}

/*Campo seleção fts site*/


